# Logs
*.log
logs
npm-debug.log*
pnpm-debug.log*

*.local
dist
dist-ssr
node_modules
target/rust-analyzer

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
.idea
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
