@import "tailwindcss";

@source not "../src-tauri";

@theme {
  --color-content-dark: #f6f6f6;
  --color-content: #0f0f0f;
  --color-focus: #396cd8;
  --color-surface-dark: #2f2f2f;
  --color-surface: #f6f6f6;
  --drop-shadow-react: 0 0 2em #61dafb;
  --drop-shadow-tauri: 0 0 2em #24c8db;
  --drop-shadow-vite: 0 0 2em #747bff;
  --font-sans: Inter, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  :root {
    background-color: var(--color-surface);
    color: var(--color-content);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @variant dark {
    :root {
      background-color: var(--color-surface-dark);
      color: var(--color-content-dark);
    }
  }
}
